/* src/resizable.css */
.react-resizable {
  position: relative;
  /* Tambahkan styling lain jika diperlukan */
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #4f46e5; /* Warna Biru Indigo Tailwind */
  border: 1px solid white;
  border-radius: 50%;
  z-index: 20;
}

/* Handle di pojok kanan bawah untuk resize */
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

/* Tambahkan styling untuk handle lain jika diperlukan */